.headerContainer {
  height: 5rem;
  display: flex;
  div {
    display: flex;

    align-items: center;
    height: 5rem;
    max-width: 1120px;
    margin: auto;
    img {
      border-radius: 50%;
    }
  }
}
